@model List<EZY.RMAS.Contract.Lookup>
@{
    ViewBag.Title = "Currency List";
}
@section seccss{
    <link href="@Url.Content("~/Css/dataTables.bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Css/dataTables.responsive.css")" rel="stylesheet" />
}
<section class="content">
    <div class="box box-dnex">
        <div class="box-header with-border">
            <div class="row">
                <section class="content-header">
                    <ol class="breadcrumb">
                        <li><a href='@Url.Content("~/Home/Index")'><i class="fa fa-dashboard"></i> Home</a></li>
                       @*<li><a href='@Url.Content("~/Home/Index")'>Modules</a></li>*@
                        <li><a href='@Url.Content("~/Home/Masters")'> Master Data</a></li>
                        <li class="active">Currency</li>
                    </ol>
                </section>
            </div>
            
            <div class="box-tools">
                @*<button class="btn btn-default btn-sm" type="button" onclick="AddProductCategory()"><i class="fa fa-plus"></i>&nbsp;Add New Currency</button>*@

                @Html.Button("<i class='fa fa-plus'></i>&nbsp;Add New Currency", new
            {
                @class = "btn btn-default btn-sm",
                onclick = "AddProductCategory()"
            }, SECURABLE.MASTER_ACTION_ADDCURRENCY)
            </div>
        </div>
        <div class="box-body">
            <div class="row" style="margin-top:10px;">
                <div class="col-md-8">
                    <table class="table table-striped" id="tblProducts">
                        <thead>
                            <tr>
                                <th>Currency Code</th>
                                <th>Description</th>
                                <th>#Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (var i = 0; i < Model.Count; i++)
                            {
                                <tr>
                                    <td>@Model[i].LookupCode</td>
                                    <td>@Model[i].LookupDescription</td>
                                    <td>
                                        @*<button class="btn btn-primary btn-sm" onclick="EditProductCategory(@Model[i].LookupID)"><i class="fa fa-pencil-square-o"></i>&nbsp;Edit</button>*@

                                        @Html.Button("<i class='fa fa-pencil-square-o'></i>&nbsp;Edit", new
                                   {
                                       @class = "btn btn-primary btn-sm",
                                       onclick = "EditProductCategory('" + Model[i].LookupID + "')"
                                   }, SECURABLE.MASTER_ACTION_EDITCURRENCY)

                                        @*<button class="btn btn-danger btn-sm" onclick="DeleteProductCategory(@Model[i].LookupID)"><i class="fa fa-trash-o"></i>&nbsp;Delete</button>*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-default btn-sm pull-right" type="button" onclick="location.href = '@Url.Content("~/Home/Masters")'"><i class="fa fa-backward"></i>&nbsp;Back</button>
                </div>

            </div>
        </div>
    </div>
</section>
@using (Html.RmaBeginForm(Url.Content("~/Master/Currency"), FormMethod.Post, new { id = "frmProductCategory", name = "frmProductCategory" }, SECURABLE.MASTER_ACTION_SAVECURRENCY))
{
    <div id="ProductCategoryModal" class="modal fade" role="dialog">
    </div>
}
@section secscripts{
    <script type="text/javascript">
        function AddProductCategory() {
            $.ajax({
                url: '@Url.Content("~/Master/Currency")',
                method: 'get',
                contentType: 'text/html',
                success: function (html) {
                    $('#ProductCategoryModal').html(html);
                    $('#ProductCategoryModal').modal('show');
                },
                error: function (err) {
                    
                }
            });
        }

        $('#frmProductCategory').validate({
            rules: {
                LookupCode: {
                    required: true
                },
                LookupDescription: {
                    required: true
                }
            }
        });

        function EditProductCategory(lookupID) {
            debugger;
            $.ajax({
                url: '@Url.Content("~/Master/Currency?lookupID=")' + lookupID,
                method: 'get',
                contentType: 'text/html',
                success: function (html) {
                    $('#ProductCategoryModal').html(html);
                    $('#ProductCategoryModal').modal('show');
                },
                error: function (err) {
                    
                }
            });
        }

        function SaveProductCategory() {
            if ($('#frmProductCategory').valid()) {
                $('#frmProductCategory').submit();
            }
        };

        function DeleteProductCategory(lookupID) {

        }
    </script>
}

