@model EZY.RMAS.Contract.Lookup

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">@ViewBag.Title</h4>
        </div>
        <div class="modal-body" id="ProductCategoryModalBody">
            <div class="row">
                <div class="col-md-4">
                    <label class="control-label pull-right">Lookup Code</label>
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(x => x.LookupCode,
                    new { @class = "form-control input-sm", placeholder = "Lookup Code" })
                </div>
            </div>
            <div class="row" style="margin-top:10px;">
                <div class="col-md-4">
                    <label class="control-label pull-right">Description</label>
                </div>
                <div class="col-md-8">
                    @Html.TextAreaFor(x => x.LookupDescription,
                    new { @class = "form-control input-sm", placeholder = "Description" })
                </div>
            </div>
            @Html.HiddenFor(x => x.LookupID)
        </div>
        <div class="modal-footer">
            @*<button type="button" onclick="SaveProductCategory()" class="btn btn-danger btn-frmt green btn-sm">
                <i class="fa fa-floppy-o"></i>&nbsp;Save
            </button>*@

            @Html.Button("<i class='fa fa-floppy-o'></i>&nbsp;Save", new
         {
             @class = "btn btn-danger btn-frmt green btn-sm",
             onclick = "SaveProductCategory()"
         }, SECURABLE.MASTER_ACTION_SAVECURRENCY)




            <button type="reset" class="btn btn-default btn-frmt btn-sm" data-dismiss="modal">
                <i class="fa fa-times"></i>Cancel
            </button>
        </div>
    </div>
</div>
