@model IEnumerable<EZY.RMAS.Contract.EduProduct>
@{
    ViewBag.Title = "EduProductList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section seccss{
    <link href="@Url.Content("~/Css/dataTables.bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Css/dataTables.responsive.css")" rel="stylesheet" />
}

<section class="content">
    <div class="box box-dnex">
        <div class="box-header with-border">
            <div class="row">
                <section class="content-header">
                    <ol class="breadcrumb">
                        <li><a href='@Url.Content("~/Home/Index")'><i class="fa fa-dashboard"></i> Home</a></li>
                        <li><a href='@Url.Content("~/Home/education")'> Master Data</a></li>
                        <li class="active">Education Product</li>
                    </ol>
                </section>
            </div>
            <div class="box-tools">
                <button class="btn btn-default btn-sm" type="button" onclick="AddEduProduct()"><i class="fa fa-plus"></i>&nbsp;Add New Product</button>
            </div>
        </div>
        <div class="box-body">
            <div class="row" style="margin-top:10px;">
                <div class="col-md-8">
                    <table class="table table-striped" id="tblProducts">
                        <thead>
                            <tr>
                                <th>Product Name</th>                                
                                <th>#Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (var i = 0; i < Model.Count(); i++)
                            {
                                <tr>
                                    <td>@Model.ElementAt(i).ProductName</td>                                    
                                    <td>
                                        <button class="btn btn-primary btn-sm" onclick="EditEduProduct(@Model.ElementAt(i).Id)"><i class="fa fa-pencil-square-o"></i>&nbsp;Edit</button>
                                        @*<button class="btn btn-danger btn-sm" onclick="DeleteProductCategory(@Model[i].LookupID)"><i class="fa fa-trash-o"></i>&nbsp;Delete</button>*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-default btn-sm pull-right" type="button" onclick="location.href = '@Url.Content("~/Home/Education")'"><i class="fa fa-backward"></i>&nbsp;Back</button>
                </div>

            </div>
        </div>
    </div>
</section>
@using (Html.BeginForm("SaveEduProduct", "Master", FormMethod.Post, new { id = "frmEduProduct", name = "frmEduProduct" }))
{
    <div id="EduProductModal" class="modal fade" role="dialog">
    </div>
}
@section secscripts{
    <script type="text/javascript">
        function AddEduProduct() {
            
            $.ajax({
                url: '@Url.Content("~/Master/EduProduct")',
                method: 'get',
                contentType: 'text/html',
                success: function (html) {

                    $('#EduProductModal').html(html);
                    $('#EduProductModal').modal('show');
                },
                error: function (err) {

                }
            });
        }

        function EditEduProduct(Id) {
            
            $.ajax({
                url: '@Url.Content("~/Master/EduProduct?Id=")' + Id,
                method: 'get',
                contentType: 'text/html',
                success: function (html) {
                    $('#EduProductModal').html(html);
                    $('#EduProductModal').modal('show');
                },
                error: function (err) {

                }
            });
        }

        $('#frmEduProduct').validate({
            rules: {
                ProductName: {
                    required: true,
                    maxlength: 50
                },
                ProductDescription: {
                    required: true,
                    maxlength: 255
                }
            }
        });

        function SaveEduProduct() {
            if ($('#frmEduProduct').valid()) {
                $('#frmEduProduct').submit();
            }
        };

        //$('#ProductCode').keypress(function (e) {
        //    if (e.which === 32)
        //        return false;
        //})​​​​​;
    </script>
}

