@model EZY.RMAS.Contract.Product
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">@ViewBag.Title</h4>
        </div>
        <div class="modal-body" id="ProductModalBody">
            <div class="row" style="margin-bottom:10px;">
                <div class="col-md-3">
                    <label class="control-label pull-right">Product Category</label>
                </div>
                <div class="col-md-5">
                    @Html.DropDownListFor(x => x.ProductCategory,
                            new SelectList(ViewBag.ProductCategoryList, "Value", "Text"),
                            "Select Product Category",
                            new { @class = "form-control input-sm"})
                </div>
                <div>
                    <button type="button" onclick="AddProduct()" class="btn btn-sm btn btn-success ref">
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                    </button>
                    <button type="button" onclick="AddProductCategory()" class="btn btn-sm btn btn-primary">
                        <i class="fa fa-floppy-o"></i>&nbsp;Add
                    </button>
                </div>
                @*<div class="col-md-3">
                <button type="button" onclick="AddProductCategory()" class="btn btn-sm btn btn-primary">
                    <i class="fa fa-floppy-o"></i>&nbsp;Add
                </button>
            </div>*@
                </div>
            <div class="row" style="margin-bottom:10px;">
                <div class="col-md-3 col-md-offset-3 lookup">
                    @*@using (Html.BeginForm("SaveCategoryGroup", "Master", FormMethod.Post, new { id = "frm", name = "frm", enctype = "multipart/form-data" }))
                    {*@
                        @Html.TextBoxFor(x => x.ProductCategoryDescription,
            new { @class = "form-control input-sm", placeholder = "Lookup Code" })
                    @*}*@
                </div>
                &nbsp;
                <div class="col-md-1">
                    <button type="button" class="btn btn-sm btn btn-success lookup" onclick="SaveCategoryGroup()">
                        <i class="fa fa-floppy-o"></i>&nbsp;Update
                    </button>
                </div>
            </div>
            <div class="row" style="margin-bottom:10px;display:none">
                <div class="col-md-3">
                    <label class="control-label pull-right">Product Code</label>
                </div>
                <div class="col-md-8">

                @Html.TextBoxFor(x => x.ProductCode, new { @class = "form-control input-sm", placeholder = "Product Code" })

                </div>
            </div>
            <div class="row" style="margin-bottom:10px;">
                <div class="col-md-3">
                    <label class="control-label pull-right">
                        Model No
                    </label>
                </div>
                <div class="col-md-6">
                    @Html.TextBoxFor(x => x.ModelNo, new { @class = "form-control input-sm", placeholder = "Model No" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label class="control-label pull-right">
                        Product Description
                    </label>
                </div>
                <div class="col-md-6">
                    @Html.TextAreaFor(x => x.Description, new { @class = "form-control input-sm", placeholder = "Product Description" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label class="control-label pull-right">
                        Is Active
                    </label>
                </div>
                <div class="col-md-6">
                    @Html.CheckBoxFor(x => x.Status)
                </div>
            </div>
        </div>
        <div class="modal-footer">
            @Html.Button("<i class='fa fa-floppy-o'></i>&nbsp;Save",
                 new { @class = "btn btn-danger btn-frmt green btn-sm", onclick = "SaveProduct()" },
                 SECURABLE.MASTER_ACTION_SAVEPRODUCT)
            <button type="reset" class="btn btn-default btn-frmt btn-sm" data-dismiss="modal">
                <i class="fa fa-times"></i>Cancel
            </button>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        
        $('.lookup').hide();
        $('.ref').hide();
            //$('#frmAddProductCode').validate({
            //    rules: {
            //        LkpCode: {
            //            required: true
            //        }
            //    }
            //});
        });
        function AddProductCategory()
        {
            $('.lookup').show();
        }

        function SaveCategoryGroup()
        {
            var Category = $('#ProductCategoryDescription').val();

            if (Category == "" || Category == undefined) {
                alert("Please Enter Lookup Code!");
                return false;
            }

            if (confirm("Are you sure ? You want to save \nDescription: " + $('#ProductCategoryDescription').val()))
            {
                
                $.ajax({
                    url: '@Url.Content("~/Master/SaveCategory?ProductCategory=")' + Category,
                    method: 'POST',
                    contentType: 'application/json',
                    success: function (data) {
                        //$.each(data, function (i, item) {
                            
                            alert("Product Category is added!");
                            $('.ref').show();
                             //$('#ProductCategory').append('<option value="' + i.Value + '">' + item.Text + '</option>');
                            $('.lookup').hide();
                        //});                     
                    },
                    error: function (err) {
                        

                    }
                });
            }
        }
    </script>

