@model List<EZY.RMAS.Contract.JobFormHeader>

@{
    ViewBag.Title = "JobSheetList";
}
@section seccss{
    <link href="@Url.Content("~/Css/dataTables.bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Css/dataTables.responsive.css")" rel="stylesheet" />
}
<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <div class="row">
                <section class="content-header">
                    <ol class="breadcrumb">
                        <li><a href='@Url.Content("~/Home/Index")'><i class="fa fa-dashboard"></i>Home</a></li>
                        @*<li><a href='@Url.Content("~/Home/Index")'>Modules</a></li>*@
                        <li><a href='@Url.Content("~/Home/Services")'> Services</a></li>
                        <li class="active">Job Sheet List</li>
                    </ol>
                </section>
            </div>
            <div class="box-tools">
                @*@if(UTILITY.HasRight("CustomerInvoiceAdd", "Action"))
                    {
                        @Html.EncodedActionLink("<i class='fa fa-plus' aria-hidden='true'></i>&nbsp;New Invoice",
                        "CustomerInvoice", "Invoice",
                        new { invoiceNo = "", documentNo = "" }, new { @class = "btn btn-default btn-sm" })
                    }*@
            <button class="btn btn-default btn-sm" onclick="location.href='@Url.Content("~/Services/CreateJob?serialNo=" + "")'">
                <span>
                    <i class='fa fa-plus' aria-hidden='true'></i>
                </span>
                Add
            </button>


            </div>
        </div>
        <div class="box-body">
            <div class="form-group">

                <div class="row">
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-1">
                        Service No
                    </div>
                    <div class="col-md-2">
                        @Html.TextBox("Service No", "", new { @class = "form-control input-sm" })
                    </div>
                    <div class="col-md-1">
                        Invoice No
                    </div>
                    <div class="col-md-2">
                        @Html.TextBox("Invoice No", "", new { @class = "form-control input-sm" })
                    </div>

                </div>
            </div>
            <div class="form-group">
                <div class="row">



                    <div class="col-md-1">

                    </div>
                    <div class="col-md-1">
                        Mobile No
                    </div>
                    <div class="col-md-2">
                        @Html.TextBox("Mobile No", "", new { @class = "form-control input-sm" })
                    </div>
                    <div class="col-md-1">
                        Date
                    </div>
                    <div class="col-md-2">
                        @Html.TextBox("Date", "", new { @class = "form-control input-sm datepicker" })
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-default btn-sm">Search</button>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:10px;">
                <div class="col-md-12">
                    <table class="table table-striped" id="">
                        <thead>
                            <tr>
                                <th>Service No</th>
                                <th>Date</th>
                                <th>Customer</th>
                                <th>Engineer</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                      @for(var i = 0; i < Model.Count(); i++)
                      {
                            <tr>
                                <td>@Model[i].DocumentNo</td>
                                <td>@Model[i].DateReceived</td>
                                <td>@Model[i].CustomerName</td>
                                <td>@Model[i].AssignedEngineer</td>
                                <td>
                                    <span class="badge bg-green">@Model[i].ServiceStatusDescription</span></td>
                                <td><button class="btn btn-sm btn-primary" onclick="location.href='@Url.Content("~/Services/GetJobForm?JobId="+ Model[i].JobID)'">Edit</button></td>
                            </tr>
                      }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-default btn-sm pull-right" type="button" onclick="location.href = '@Url.Content("~/Home/Services")'"><i class="fa fa-backward"></i>&nbsp;Back</button>
                </div>

            </div>
        </div>
    </div>
</section>
<script src="@Url.Content("~/Scripts/moment.js")"></script>
<script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.js")"></script>
<script src="@Url.Content("~/Scripts/select2.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.dataTables.js")"></script>
<script src="@Url.Content("~/Scripts/dataTables.bootstrap.js")"></script>
<script type="text/javascript">
    $(function(){
        $('.datepicker').datetimepicker({
        useCurrent: false,
        format: 'DD/MM/YYYY',
        inline: false
        });
          
    });

</script>

