@model EZY.RMAS.Contract.RMACreditNoteDTO
@{
    ViewBag.Title = "RMACreditNoteandValue";
    var strRMAMonthName = string.Empty;
    var strRMACost = string.Empty;
    for (var i = 0; i < Model.RMACreditNoteValue.Count; i++)
    {
        strRMAMonthName += "'" + Model.RMACreditNoteValue[i].MonthName + "'" + ",";
        strRMACost += Model.RMACreditNoteValue[i].Cost + ",";
    }
    strRMAMonthName = strRMAMonthName.TrimEnd(',');
    strRMACost = strRMACost.TrimEnd(',');
}
<style>
    .highcharts-title tspan {
        visibility: hidden;
    }

    .highcharts-credits {
        display: none;
    }
</style>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-3d.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<section class="content">
    <div class="box box-dnex">
        <div class="box-header with-border">
            <div class="row">
                <section class="content-header">
                    <ol class="breadcrumb">
                        <li><a href='@Url.Content("~/Home/Index")'><i class="fa fa-dashboard"></i> Home</a></li>
                        @*<li><a href='@Url.Content("~/Home/Index")'>Modules</a></li>*@
                        <li><a href='@Url.Content("~/Home/Reports")'> Reports</a></li>
                        <li><a href='@Url.Content("~/Dashboard/MaterialInwardDashboards")'>Management Reports</a></li>
                        <li class="active">Dashboard</li>
                    </ol>
                </section>
            </div>
        </div>
        <div class="box-body">
            @using (Html.BeginForm("GetRMACreditNoteandValue", "Dashboard", FormMethod.Post, new { id = "frm", name = "frm", enctype = "multipart/form-data" }))
            {
                <div class="row">
                    <div class="col-sm-12">
                        @{Html.RenderPartial("DashBoardsLinks");}
                        <br />
                        <div class="row">
                            @if (ViewBag.Login == 10)
                            {
                                <div class="col-md-1">
                                    @Html.DropDownListFor(x => x.Branch, new SelectList(ViewBag.Branches, "Value", "Text"), "Select Branch", new { @class = "form-control input-sm" })
                                </div>
                            }
                            <div class="col-md-1">
                                @Html.DropDownListFor(x => x.ProductCode, new SelectList(ViewBag.productCategory, "Value", "Text"), "Select Product", new { @class = "form-control input-sm" })
                            </div>
                            <div class="col-md-1">
                                @Html.DropDownListFor(x => x.FromMonth, new SelectList(ViewBag.Months, "Value", "Text"), "Select Month", new { @class = "form-control input-sm" })
                            </div>
                            <div class="col-md-1">
                                @Html.DropDownListFor(x => x.ToMonth, new SelectList(ViewBag.Months, "Value", "Text"), "Select Month", new { @class = "form-control input-sm" })
                            </div>
                            <div class="col-md-1">
                                @Html.DropDownListFor(x => x.Year, new SelectList(ViewBag.Year, "Value", "Text"), "Select Year", new { @class = "form-control input-sm" })
                            </div>
                            <div class="col-md-1">
                                <button type="button" class="btn btn-primary" onclick="btnSubmit();">Show</button>
                            </div>
                        </div>
                    </div>
                </div>
                            }
            <br /><br />
            <div class="row">
                <div class="col-md-6">
                    <div class="box box-dnex">
                        <div class="box-header with-border">
                            <h3 class="box-title">&nbsp; Credit Note ProductCategory</h3>

                        </div>
                        <div class="box-body">
                            <div id="CreditNoteProductCategory" style="height: 350px; margin: 0 auto"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box box-dnex">
                        <div class="box-header with-border">
                            <h3 class="box-title">&nbsp; Credit Note Value</h3>
                        </div>
                        <div class="box-body">
                            <div id="CreditNoteValue" style="height: 350px; margin: 0 auto"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div id="container" style="height: 180px; margin: 0 auto"></div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-info btn-sm pull-right" type="button" onclick="location.href = '@Url.Content("~/Home/Reports")'"><i class="fa fa-backward"></i>&nbsp;Back</button>
                </div>

            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {

            $('#Year').val('@Model.Year');
            $('#RMACreditNote').parent().addClass('active');

            $('#frm').validate({
                rules:
                    {
                        Branch: {
                            required: true
                        },
                        FromMonth: {
                            required: true
                        },
                        ToMonth: {
                            required: true
                        },
                        Year: {
                            required:true
                        }
                    }
            })
            obj = {};
            obj.Branch = $('#Branch').val();
            obj.FromMonth = $('#FromMonth').val();
            obj.ToMonth = $('#ToMonth').val();
            obj.Year = $('#Year').val();
            obj.ProductCode = $('#ProductCode').val();
            var objarray = [];
            $.ajax({
                url: '@Url.Content("~/Dashboard/RMACreditNoteProductCategory")',
                method: 'POST',
                contentType: "application/json",
                data:JSON.stringify(obj),
                success: function (data) {
                    $.each(data, function (i, item) {
                        var tempArray = new Array();
                        tempArray.push(item.ProductName);
                        tempArray.push(item.ProductCount);
                        objarray.push(tempArray);
                        console.log(JSON.stringify(objarray));
                    });
                    bindChart(objarray);
                },
                error: function (err) {
                }
            })
        });

        var chart = Highcharts.chart('CreditNoteValue', {

            title: {
                text: 'Chart.update'
            },
            xAxis: {
                categories: [@Html.Raw(strRMAMonthName)]
            },
            yAxis: {
                gridLineWidth: 0,
            },
            plotOptions: {
                allowPointSelect: true,
                cursor: 'pointer',
                series: {
                    borderWidth: 0,
                    dataLabels: {
                        enabled: true,
                        format: '$' + '{point.y}'
                    }
                }
            },
            series: [{
                type: 'column',
                colorByPoint: true,
                name: 'Cost',
                data: [@Html.Raw(strRMACost)],
                showInLegend: false,
                colors: ['#8B008B', '#0000FF', '#8A2BE2', '#1E90FF', '#DC143C', '#B8860B',
               '#FF0000', '#00FF7F'],
            }]

        });
        function btnSubmit() {
            $('#frm').valid();
            $('#frm').submit();
        }
        function bindChart(result) {
            Highcharts.chart('CreditNoteProductCategory', {
                chart: {
                    type: 'pie',
                    options3d: {
                        enabled: true,
                        alpha: 45,
                        beta: 0
                    }
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        depth: 50,
                        dataLabels: {
                            distance: 10,
                            color: 'Black',
                            enabled: true,
                            format: '{point.y}',
                        },
                        showInLegend: true,
                        size: 250
                    },
                    borderWidth: 0,
                },
                series: [{
                    name: 'Count',
                    colorByPoint: true,
                    data: result,
                    colors: ['#008B8B', '#B8860B', '#DC143C', '#00FF7F', '#FF0000', '#7FFF00', '#0000FF', '#8A2BE2', '#1E90FF', '#DC143C', '#B8860B', ],
                }]
            });
        }
    </script>
</section>
