
@model List<EZY.RMAS.Contract.VendorRMAHeader>
@{
    ViewBag.Title = "VendorOutwardRMA";
}
@section seccss{
    <link href="@Url.Content("~/Css/dataTables.bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Css/dataTables.responsive.css")" rel="stylesheet" />
}
<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <div class="row">
                <section class="content-header">
                    <ol class="breadcrumb">
                        <li><a href='@Url.Content("~/Home/Index")'><i class="fa fa-dashboard"></i> Home</a></li>
                       @*<li><a href='@Url.Content("~/Home/Index")'>Modules</a></li>*@
                        <li><a href='@Url.Content("~/Home/Transactions")'> Transactions</a></li>
                        <li class="active"><i class="fa fa-list-alt" aria-hidden="true"></i>&nbsp;Vendor Return</li>
                    </ol>
                </section>
            </div>
        </div>
        <div class="box-body">
            @if (Model != null && Model.Count > 0)
            {
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-12">
                        <table class="table table-striped" id="tblOutwords">
                            <thead>
                                <tr>
                                    <th>Do No</th>
                                    @*<th>Email ID</th>
                                    <th>Incident Date</th>
                                    <th>Contact No</th>*@
                                    @*<th>#Action</th>*@
                                </tr>
                            </thead>
                            <tbody>
                                @for (var i = 0; i < Model.Count; i++)
                                {
                                    <tr>
                                        <td>
                                            @Html.ActionLink(Model[i].DoNo, "GetVendorRMAByDocumentNo", routeValues: new{documentNo = @Model[i].DoNo })                                      
                                        </td>
                                        @*<td>@Model[i].EmailID</td>
                                        <td>@Model[i].IncidentDate</td>
                                        <td>@Model[i].ContactNo</td>*@
                                        @*<td>
                                            <button type="button" class="btn btn-primary btn-sm" onclick="location.href = '@Url.Content("~/RMA/GetRMAByDocumentNo?documentNo=" + Model[i].DocumentNo)'"><i class="fa fa-eye"></i>&nbsp;View</button>
                                        </td>*@
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-default btn-sm pull-right" type="button" onclick="location.href = '@Url.Content("~/Home/Transactions")'"><i class="fa fa-backward"></i>&nbsp;Back</button>
                </div>

            </div>
        </div>
    </div>

</section>