@model EZY.RMAS.Contract.ReportParams
@{
    ViewBag.Title = "MaterialInwardTotalInvoicesProductWise";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="@Url.Content("~/Css/datepicker3.css")" rel="stylesheet" />
@*<link href="@Url.Content("~/Css/bootstrap-timepicker.css") " rel="stylesheet" />*@
<link href="@Url.Content("~/Css/select2.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/Css/dataTables.bootstrap.css")" rel="stylesheet" />
<link href="@Url.Content("~/Css/dataTables.responsive.css")" rel="stylesheet" />

<div class="modal fade in" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<section class="content">
    <div class="box box-dnex">
        <div class="box-header with-border">
            <div class="row">
                <section class="content-header">
                    <ol class="breadcrumb">
                        <li><a href='@Url.Content("~/Home/Index")'><i class="fa fa-dashboard"></i> Home</a></li>
                        <li><a href='@Url.Content("~/Home/Reports")'> Reports</a></li>
                        <li><a href='@Url.Content("~/Reports/MaterialInwardProductQtyMonthWise")'>Operational Reports</a></li>
                        <li class="active">Report</li>
                    </ol>
                </section>
            </div>
        </div>
        <div class="box-body">
            @using (Html.BeginForm("ViewMaterialInwardTotalInvoicesProductWise", "Reports", FormMethod.Post, new { id = "frm", name = "frm", enctype = "multipart/form-data" }))
            {
                <div class="row">
                    <div class="col-sm-4">
                        @{ Html.RenderPartial("ReportPagesLinks");}
                       </div>
                        <div class="col-sm-8">
                            <div class="row">
                                @if (ViewBag.Login == 10)
                                {
                                    <div class="col-md-2">
                                        @Html.DropDownListFor(x => x.BranchID, new SelectList(ViewBag.Branches, "Value", "Text"), "Select Branch", new { @class = "form-control input-sm" })
                                    </div>
                                }
                                <div class="col-md-2">
                                    @Html.DropDownListFor(x => x.ProductCode, new SelectList(ViewBag.productCategory, "Value", "Text"), null, new { @class = "form-control input-sm" })
                                </div>
                                <div class="col-md-2 DtFrmTo">
                                    @Html.TextBoxFor(x => x.DateFrom, new { @Value = Model.DateFrom.ToString("dd/MM/yyyy"), @class = "form-control input-sm datepicker" })
                                </div>
                                <div class="col-md-2 DtFrmTo">
                                    @Html.TextBoxFor(x => x.DateTo, new { @Value = Model.DateTo.ToString("dd/MM/yyyy"), @class = "form-control input-sm datepicker" })
                                </div>
                                <div class="col-md-2">
                                    @Html.DropDownListFor(x => x.Year, new SelectList(ViewBag.Year, "Value", "Text"), "Select Year", new { @class = "form-control input-sm" })
                                </div>
                                <div class="col-md-1">
                                    <a id="btnViewReport" data-modal="test" onclick="btnPrint();" class="btn btn-sm btn-primary">Print</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-info btn-sm pull-right" type="button" onclick="location.href = '@Url.Content("~/Home/Reports")'"><i class="fa fa-backward"></i>&nbsp;Back</button>
                </div>

            </div>
        </div>
    </div>
    <script src="@Url.Content("~/Scripts/modalform.js")"></script>
    <script src="@Url.Content("~/Scripts/moment.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.dataTables.js")"></script>
    <script src="@Url.Content("~/Scripts/dataTables.bootstrap.js")"></script>
    <script src="@Url.Content("~/Scripts/select2.min.js")"></script>
    <script src="@Url.Content("~/Scripts/moment.js")"></script>
    <script type="text/javascript">
            $(function () {
                $('#Year').val('@Model.Year');

                $('#MaterialInwardTotalInvoices').parent().addClass('active');

                $('.datepicker').datetimepicker({
                    useCurrent: false,
                    format: 'DD/MM/YYYY',
                    inline: false
                });
                $('#frm').validate({
                    rules:
                        {
                            BranchID: {
                                required: true
                            },
                            DateFrom: {
                                required: true
                            },
                            DateTo: {
                                required: true
                            },
                            Year: {
                                required: true
                            },
                            ProductCode:{
                                required:true
                            }
                        }
                })
            });
            function btnPrint() {
                $('#frm').valid();
                var dateFrom = $("#DateFrom").val();
                var dateTo = $("#DateTo").val();
                var year = $('#Year').val();
                var productCode=$('#ProductCode').val();
                var ReportURL = ("/RMAReports/MaterialInward.Invoice");
                var branchID = $('#BranchID').val();

                var rooturl = '@Url.Action("ViewMaterialInwardTotalInvoicesProductWise", "Reports")';
                var url = rooturl + "?BranchID=" + branchID + "&dateFrom=" + dateFrom + "&dateTo=" + dateTo + "&Year=" + year + "&ProductCode=" + productCode + "&URL=" + ReportURL;
                $("#btnViewReport").attr("href", url);
            }
    </script>

</section>

