@model EZY.RMAS.Contract.RMAGenerationReceiveDTO
@{
    ViewBag.Title = "RMATransactionReturn";
}
<link href="@Url.Content("~/Css/datepicker3.css")" rel="stylesheet" />
<link href="@Url.Content("~/Css/select2.min.css")" rel="stylesheet" />

<div id="myModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
</div>

<section class="content">
    <div class="box box-dnex">
        <div class="box-header with-border">
            <div class="row">
                <section class="content-header">
                    <ol class="breadcrumb">
                        <li><a href='@Url.Content("~/Home/Index")'><i class="fa fa-dashboard"></i> Home</a></li>
                        <li><a href='@Url.Content("~/Home/Reports")'> Reports</a></li>
                        <li><a href='@Url.Content("~/Reports/RMATransactionReturn")'>Operational Reports</a></li>
                        <li class="active">Report</li>
                    </ol>
                </section>
            </div>
        </div>
        <div class="box-body">
            @using (Html.BeginForm("ViewRMATransactionReturn", "Reports", FormMethod.Post, new { id = "frm", name = "frm", enctype = "multipart/form-data" }))
            {
                <div class="row">
                    <div class="col-sm-4">
                        @{ Html.RenderPartial("ReportPagesLinks");}
                    </div>
                    <div class="col-sm-8">
                        <div class="row">
                            @if (ViewBag.Login == 10)
                            {
                                <div class="row" style="padding-bottom:10px;">
                                    <div class="col-md-2">
                                        <label id="lblRegion" class="control-label">Region</label>
                                    </div>
                                    <div class="col-md-2">
                                        @Html.DropDownListFor(x => x.Branch, new SelectList(ViewBag.Branches, "Value", "Text"), "Select Branch", new { @class = "form-control input-sm" })
                                    </div>
                                </div>
                            }
                            <div class="row" style="padding-bottom:10px;">
                                <div class="col-md-2">
                                    <label id="lblRegion" class="control-label">Product Code</label>
                                </div>
                                <div class="col-md-2">
                                    @Html.DropDownListFor(x => x.ProductCode, new SelectList(ViewBag.productCategory, "Value", "Text"), null, new { @class = "form-control input-sm" })
                                </div>
                            </div>
                            <div class="row" style="padding-bottom:10px;">
                                <div class="col-md-2">
                                    <label id="lblRegion" class="control-label">From Month</label>
                                </div>
                                <div class="col-md-2 DtFrmTo">
                                    @Html.DropDownListFor(x => x.FromMonth, new SelectList(ViewBag.Months, "Value", "Text"), "Select Month", new { @class = "form-control input-sm" })
                                </div>
                            </div>
                            <div class="row" style="padding-bottom:10px;">
                                <div class="col-md-2">
                                    <label id="lblRegion" class="control-label">To Month</label>
                                </div>
                                <div class="col-md-2 DtFrmTo">
                                    @Html.DropDownListFor(x => x.ToMonth, new SelectList(ViewBag.Months, "Value", "Text"), "Select Month", new { @class = "form-control input-sm" })
                                </div>
                            </div>
                            <div class="row" style="padding-bottom:10px;">
                                <div class="col-md-2">
                                    <label id="lblRegion" class="control-label">Year</label>
                                </div>
                                <div class="col-md-2">
                                    @Html.DropDownListFor(x => x.Year, new SelectList(ViewBag.Year, "Value", "Text"), "Select Year", new { @class = "form-control input-sm" })
                                </div>
                                <div class="col-md-1">
                                    <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" onclick="btnPrint()"><i class="fa fa-print"></i>Print</button>
                                    @*@Html.ActionLink("Print", "ViewRMATransactionReturn", "Reports", new { data_modal = "test", id = "btnViewReport", onclick = "btnPrint()", @class = "btn btn-sm btn-primary" })*@
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            }
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-info btn-sm pull-right" type="button" onclick="location.href = '@Url.Content("~/Home/Reports")'"><i class="fa fa-backward"></i>&nbsp;Back</button>
                </div>

            </div>
        </div>
    </div>
    <script src="@Url.Content("~/Scripts/moment.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.js")"></script>
    <script src="@Url.Content("~/Scripts/select2.min.js")"></script>
    <script type="text/javascript">
            $(function () {
                $('#Year').val('@Model.Year');

				$('#RMATransactionReturn').parent().addClass('active');

                $('.datepicker').datetimepicker({
                    useCurrent: false,
                    format: 'DD/MM/YYYY',
                    inline: false
                });
                $('#frm').validate({
                    rules:
                        {
                            Branch: {
                                required: true
                            },
                            FromMonth: {
                                required: true
                            },
                            ToMonth: {
                                required: true
                            },
                            Year: {
                                required: true
                            },
                            ProductCode:{
                                required:true
                            }
                        }
                })
            });
        function btnPrint() {
            debugger;
            if ($('#frm').valid()) {
                var FromMonth = $("#FromMonth").val();
                var ToMonth = $("#ToMonth").val();
                var year = $('#Year').val();
                var productCode = $('#ProductCode').val();
                var ReportURL = ("RMATransaction.Return");
                var branchID = $('#Branch').val();

                @*var rooturl = '@Url.Action("ViewRMATransactionReturn", "Reports")';
				var url = rooturl + "?BranchID=" + branchID + "&FromMonth=" + FromMonth + "&ToMonth=" + ToMonth + "&Year=" + year + "&ProductCode=" + productCode + "&URL=" + ReportURL;
                $("#btnViewReport").attr("href", url);*@

                $.ajax({
                    url: '@Url.Content("~/Reports/ViewRMATransactionReturn?BranchID=")' + branchID + "&FromMonth=" + FromMonth + "&ToMonth=" + ToMonth + "&Year=" + year + "&ProductCode=" + productCode + "&URL=" + ReportURL,
                    method: 'get',
                    contentType: 'text/html',
                    success: function (html) {
                        $('#myModal').html(html);
                        $('#myModal').modal('show');
                    },
                    error: function (err) {
                    }
                });
            }
        }
    </script>
</section>
