@using MvcReportViewer
@{
    Layout = null;
}
@{
    var settings = new ControlSettings { ShowToolBar = true, ShowParameterPrompts = false };
    string url = Convert.ToString(ViewBag.Url);
    string fromDate = ViewBag.DateFrom != null ? Convert.ToString(ViewBag.DateFrom) : "";
    string toDate = ViewBag.DateTo != null ? Convert.ToString(ViewBag.DateTo) : "";
    string fromMonth = ViewBag.FromMonth != null ? Convert.ToString(ViewBag.FromMonth) : "0";
    string toMonth = ViewBag.ToMonth != null ? Convert.ToString(ViewBag.ToMonth) : "0";
    string reportsource = Convert.ToString(ViewBag.ReportSource);
    string BranchID = Convert.ToString(ViewBag.BranchID);
    string year = Convert.ToString(ViewBag.Year);
    string productCode = Convert.ToString(ViewBag.ProductCode);
}
@*<script src="@Url.Content("~/Scripts/jquery-2.2.4.min.js")"></script>*@
<script src="@Url.Content("~/Scripts/jquery-migrate-1.2.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/MvcReportViewer.js")"></script>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<div class="modal-dialog" style="width:75%">
    <!-- Modal content-->
    <div class="modal-content" style="height:90%">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">@ViewBag.Title</h4>
        </div>
        <div class="modal-body" id="VendorandTrainerModalBody">
            @{
                if (reportsource == "MaterialInwardProductQty")
                {
                    @Html.MvcReportViewer(url,
                        new
                        {
                            BranchID = BranchID,
                            ProductCode = productCode,
                            Year = year,
                            FromDate = fromDate,
                            ToDate = toDate
                        },
                        new
                        {
                            Height = 500,
                            Width = "100%",
                            style = "border: none"
                        }).ControlSettings(settings)
                }
                else if (reportsource == "MaterialInwardProductCost")
                {
                    @Html.MvcReportViewer(url,
                        new
                        {
                            BranchID = BranchID,
                            ProductCode = productCode,
                            Year = year,
                            FromDate = fromDate,
                            ToDate = toDate
                        },
                        new
                        {
                            Height = 500,
                            Width = "100%",
                            style = "border: none"
                        }).ControlSettings(settings)
                }
                else if (reportsource == "MaterialInwardTotalInvoicesProductWise")
                {
                    @Html.MvcReportViewer(url,
                        new
                        {
                            BranchID = BranchID,
                            ProductCode = productCode,
                            Year = year,
                            FromDate = fromDate,
                            ToDate = toDate
                        },
                        new
                        {
                            Height = 500,
                            Width = "100%",
                            style = "border: none"
                        }).ControlSettings(settings)
                }
                else if (reportsource == "MaterialOutwardProductQty")
                {
                    @Html.MvcReportViewer(url,
                        new
                        {
                            BranchID = BranchID,
                            ProductCode = productCode,
                            Year = year,
                            FromDate = fromDate,
                            ToDate = toDate
                        },
                        new
                        {
                            Height = 500,
                            Width = "100%",
                            style = "border: none"
                        }).ControlSettings(settings)
                }
                else if (reportsource == "MaterialOutwardProductCost")
                {
                    @Html.MvcReportViewer(url,
                        new
                        {
                            BranchID = BranchID,
                            ProductCode = productCode,
                            Year = year,
                            FromDate = fromDate,
                            ToDate = toDate
                        },
                        new
                        {
                            Height = 500,
                            Width = "100%",
                            style = "border: none"
                        }).ControlSettings(settings)
                }
                else if (reportsource == "MaterialOutwardTotalInvoicesProductMonthWise")
                {
                    @Html.MvcReportViewer(url,
                        new
                        {
                            BranchID = BranchID,
                            ProductCode = productCode,
                            Year = year,
                            FromDate = fromDate,
                            ToDate = toDate
                        },
                        new
                        {
                            Height = 500,
                            Width = "100%",
                            style = "border: none"
                        }).ControlSettings(settings)
                }

                else if (reportsource == "RMATransactionReceived")
                {
                    @Html.MvcReportViewer(url,
                        new
                        {
                            BranchID = BranchID,
                            ProductCode = productCode,
                            Year = year,
                            FromMonth = fromMonth,
                            ToMonth = toMonth
                        },
                        new
                        {
                            Height = 500,
                            Width = "100%",
                            style = "border: none"
                        }).ControlSettings(settings)
                }
                else if (reportsource == "RMATransactionReturn")
                {
                    @Html.MvcReportViewer(url,
                        new
                        {
                            BranchID = BranchID,
                            ProductCode = productCode,
                            Year = year,
                            FromMonth = fromMonth,
                            ToMonth = toMonth
                        },
                        new
                        {
                            Height = 500,
                            Width = "100%",
                            style = "border: none"
                        }).ControlSettings(settings)
                }

                else if (reportsource == "ProductsCategoryRMAReceiptQty")
                {
                    @Html.MvcReportViewer(url,
                        new
                        {
                            BranchID = BranchID,
                            ProductCode = productCode,
                            Year = year,
                            FromMonth = fromMonth,
                            ToMonth = toMonth
                        },
                        new
                        {
                            Height = 500,
                            Width = "100%",
                            style = "border: none"
                        }).ControlSettings(settings)
                }
                else if (reportsource == "ProductsCategoryRMAReceiptValue")
                {
                    @Html.MvcReportViewer(url,
                        new
                        {
                            BranchID = BranchID,
                            ProductCode = productCode,
                            Year = year,
                            FromMonth = fromMonth,
                            ToMonth = toMonth
                        },
                        new
                        {
                            Height = 500,
                            Width = "100%",
                            style = "border: none"
                        }).ControlSettings(settings)
                }

                else if (reportsource == "RMAReceiptQty")
                {
                    @Html.MvcReportViewer(url,
                        new
                        {
                            BranchID = BranchID,
                            ProductCode = productCode,
                            Year = year,
                            FromMonth = fromMonth,
                            ToMonth = toMonth
                        },
                        new
                        {
                            Height = 500,
                            Width = "100%",
                            style = "border: none"
                        }).ControlSettings(settings)
                }
                else if (reportsource == "RMAReceiptValue")
                {
                    @Html.MvcReportViewer(url,
                        new
                        {
                            BranchID = BranchID,
                            ProductCode = productCode,
                            Year = year,
                            FromMonth = fromMonth,
                            ToMonth = toMonth
                        },
                        new
                        {
                            Height = 500,
                            Width = "100%",
                            style = "border: none"
                        }).ControlSettings(settings)
                }

                else if (reportsource == "CreditNoteProductCategory")
                {
                    @Html.MvcReportViewer(url,
                        new
                        {
                            BranchID = BranchID,
                            ProductCode = productCode,
                            Year = year,
                            FromMonth = fromMonth,
                            ToMonth = toMonth
                        },
                        new
                        {
                            Height = 500,
                            Width = "100%",
                            style = "border: none"
                        }).ControlSettings(settings)
                }
                else if (reportsource == "CreditNoteValue")
                {
                    @Html.MvcReportViewer(url,
                        new
                        {
                            BranchID = BranchID,
                            ProductCode = productCode,
                            Year = year,
                            FromMonth = fromMonth,
                            ToMonth = toMonth
                        },
                        new
                        {
                            Height = 500,
                            Width = "100%",
                            style = "border: none"
                        }).ControlSettings(settings)
                }
                else
                {
                    @Html.MvcReportViewer(url,
                        new
                        {
                            country = ""
                        },
                        new
                        {
                            Height = 500,
                            Width = "100%",
                            style = "border: none;"
                        }).ControlSettings(settings)
                }
            }
        </div>
    </div>

</div>
