@using MvcReportViewer
<style>
    .modal-dialog, .modal-content {
        width: 1100px;
    }

    #ReportViewerContent .modal-header {
        background-color: #00a7d0 !important;
    }

        #ReportViewerContent .modal-header h4 {
            color: white;
        }
</style>

@{
    var settings = new ControlSettings { ShowToolBar = true, ShowParameterPrompts = false };
    string url = Convert.ToString(ViewBag.Url);
    string FromDate = ViewBag.FromDate != null ? Convert.ToString(ViewBag.FromDate).Replace("-", "/") : "";
    string ToDate = ViewBag.ToDate != null ? Convert.ToString(ViewBag.ToDate).Replace("-", "/") : "";
    int FromMonth = ViewBag.FromMonth != null ? ViewBag.FromMonth : 0;
    int ToMonth = ViewBag.ToMonth != null ? ViewBag.ToMonth : 0;
    string reportsource = Convert.ToString(ViewBag.ReportSource);
    string BranchID = Convert.ToString(ViewBag.BranchID);
    string year = Convert.ToString(ViewBag.Year);
    string productCode = Convert.ToString(ViewBag.ProductCode);

    DateTime df = DateTime.UtcNow;
    DateTime dt = DateTime.UtcNow;
    if (ViewBag.FromDate != null)
    {
        df = DateTime.ParseExact(FromDate, "dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture);
        dt = DateTime.ParseExact(ToDate, "dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture);
    }
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="lblHeader">Report Details</h4>

</div>
@{
    if (reportsource == "MaterialInwardProductQty")
    {
        @Html.MvcReportViewer(
                                    url, new { BranchID = BranchID, ProductCode = productCode, Year = year, FromDate = df.ToString("dd/MM/yyyy"), ToDate = dt.ToString("dd/MM/yyyy") },
                                        new { Height = 600, Width = "100%", style = "border: none" }).ControlSettings(settings)
    }
    else if (reportsource == "MaterialInwardProductCost")
    {
        @Html.MvcReportViewer(
                                    url, new { BranchID = BranchID, ProductCode = productCode, Year = year, FromDate = df.ToString("dd/MM/yyyy"), ToDate = dt.ToString("dd/MM/yyyy") },
                                        new { Height = 600, Width = "100%", style = "border: none" }).ControlSettings(settings)

    }
    else if (reportsource == "MaterialInwardTotalInvoicesProductWise")
    {
        @Html.MvcReportViewer(
                                       url, new { BranchID = BranchID, ProductCode = productCode, Year = year, FromDate = df.ToString("dd/MM/yyyy"), ToDate = dt.ToString("dd/MM/yyyy") },
                                       new { Height = 600, Width = "100%", style = "border: none" }).ControlSettings(settings)

    }
    else if (reportsource == "MaterialOutwardProductQty")
    {
        @Html.MvcReportViewer(
                                       url, new { BranchID = BranchID, ProductCode = productCode, Year = year, FromDate = df.ToString("dd/MM/yyyy"), ToDate = dt.ToString("dd/MM/yyyy") },
                                       new { Height = 600, Width = "100%", style = "border: none" }).ControlSettings(settings)
    }
    else if (reportsource == "MaterialOutwardProductCost")
    {
        @Html.MvcReportViewer(
                                       url, new { BranchID = BranchID, ProductCode = productCode, Year = year, FromDate = df.ToString("dd/MM/yyyy"), ToDate = dt.ToString("dd/MM/yyyy") },
                                       new { Height = 600, Width = "100%", style = "border: none" }).ControlSettings(settings)

    }
    else if (reportsource == "MaterialOutwardTotalInvoicesProductMonthWise")
    {
        @Html.MvcReportViewer(
                                       url, new { BranchID = BranchID, ProductCode = productCode, Year = year, FromDate = df.ToString("dd/MM/yyyy"), ToDate = dt.ToString("dd/MM/yyyy") },
                                       new { Height = 600, Width = "100%", style = "border: none" }).ControlSettings(settings)

    }

    else if (reportsource == "RMATransactionReceived")
    {
        @Html.MvcReportViewer(
                                      url, new { BranchID = BranchID, ProductCode = productCode, Year = year, FromMonth = FromMonth, ToMonth = ToMonth },
                                      new { Height = 600, Width = "100%", style = "border: none" }).ControlSettings(settings)

    }
    else if (reportsource == "RMATransactionReturn")
    {
        @Html.MvcReportViewer(
                                      url, new { BranchID = BranchID, ProductCode = productCode, Year = year, FromMonth = FromMonth, ToMonth = ToMonth },
                                      new { Height = 600, Width = "100%", style = "border: none" }).ControlSettings(settings)

    }

    else if (reportsource == "ProductsCategoryRMAReceiptQty")
    {
        @Html.MvcReportViewer(
                                       url, new { BranchID = BranchID, ProductCode = productCode, Year = year, FromMonth = FromMonth, ToMonth = ToMonth },
                                       new { Height = 600, Width = "100%", style = "border: none" }).ControlSettings(settings)

    }
    else if (reportsource == "ProductsCategoryRMAReceiptValue")
    {
        @Html.MvcReportViewer(
                                     url, new { BranchID = BranchID, ProductCode = productCode, Year = year, FromMonth = FromMonth, ToMonth = ToMonth },
                                     new { Height = 600, Width = "100%", style = "border: none" }).ControlSettings(settings)

    }

    else if (reportsource == "RMAReceiptQty")
    {
        @Html.MvcReportViewer(
                                     url, new { BranchID = BranchID, ProductCode = productCode, Year = year, FromMonth = FromMonth, ToMonth = ToMonth },
                                     new { Height = 600, Width = "100%", style = "border: none" }).ControlSettings(settings)

    }
    else if (reportsource == "RMAReceiptValue")
    {
        @Html.MvcReportViewer(
                                     url, new { BranchID = BranchID, ProductCode = productCode, Year = year, FromMonth = FromMonth, ToMonth = ToMonth },
                                     new { Height = 600, Width = "100%", style = "border: none" }).ControlSettings(settings)

    }

    else if (reportsource == "CreditNoteProductCategory")
    {
        @Html.MvcReportViewer(
                                     url, new { BranchID = BranchID, ProductCode = productCode, Year = year, FromMonth = FromMonth, ToMonth = ToMonth },
                                     new { Height = 600, Width = "100%", style = "border: none" }).ControlSettings(settings)

    }
    else if (reportsource == "CreditNoteValue")
    {
        @Html.MvcReportViewer(
                                    url, new { BranchID = BranchID, ProductCode = productCode, Year = year, FromMonth = FromMonth, ToMonth = ToMonth },
                                    new { Height = 600, Width = "100%", style = "border: none" }).ControlSettings(settings)

    }
}

@*else if (reportsource == "ProductStockHistory")
            {
                @Html.MvcReportViewer(
                    url, new { ProductCode = invoiceNo },
                             new { Height = 600, Width = "100%", style = "border: none" }).ControlSettings(settings)

            }
            else if (reportsource == "ShipmentIndentList")
            {
                @Html.MvcReportViewer(
                         url, new { DocumentNo = documentNo, DateFrom = df.ToString("dd/MM/yyyy"), DateTo = dt.ToString("dd/MM/yyyy") },
                             new { Height = 600, Width = "100%", style = "border: none" }).ControlSettings(settings)

            }
            else if (reportsource == "ShipmentScheduleList")
            {
                @Html.MvcReportViewer(
                         url, new { DocumentNo = documentNo, DateFrom = df.ToString("dd/MM/yyyy"), DateTo = dt.ToString("dd/MM/yyyy") },
                             new { Height = 600, Width = "100%", style = "border: none" }).ControlSettings(settings)

            }

            else if (reportsource == "StockPlan")
            {
                @Html.MvcReportViewer(
                         url, new { DateFrom = df.ToString("dd/MM/yyyy"), DateTo = dt.ToString("dd/MM/yyyy") },
                             new { Height = 600, Width = "100%", style = "border: none" }).ControlSettings(settings)

            }
            else if (reportsource == "GoodsReceiveDomesticDetails")
            {
                @Html.MvcReportViewer(
                    url, new { DocumentNo = documentNo },
                        new { Height = 600, Width = "100%", style = "border: none" }).ControlSettings(settings)

            }
            else if (reportsource == "GoodsReceiveOverseasDetails")
            {
                @Html.MvcReportViewer(
                    url, new { DocumentNo = documentNo },
                        new { Height = 600, Width = "100%", style = "border: none" }).ControlSettings(settings)

            }
            else if (reportsource == "InspectionDomestic")
            {
                @Html.MvcReportViewer(
                    url, new { DocumentNo = documentNo },
                        new { Height = 600, Width = "100%", style = "border: none" }).ControlSettings(settings)

            }
            else if (reportsource == "InspectionOverseas")
            {
                @Html.MvcReportViewer(
                    url, new { DocumentNo = documentNo },
                        new { Height = 600, Width = "100%", style = "border: none" }).ControlSettings(settings)

            }
            else if (reportsource == "PurchaseOrderReport")
            {
                @Html.MvcReportViewer(
                         url, new { PONo = documentNo, BranchID = BranchID },
                        new { Height = 600, Width = "100%", style = "border: none" }).ControlSettings(settings)

            }
            else if (reportsource == "QuotationReport")
            {
                @Html.MvcReportViewer(
                         url, new { QuotationNo = documentNo, BranchID = HttpContext.Current.Session["BranchId"].ToString() },
                        new { Height = 600, Width = "100%", style = "border: none" }).ControlSettings(settings)

            }




        /*
        if (DNo != "")
        {
            @Html.MvcReportViewer(
        url,
             new { DocumentNo = DNo, },
        new { Height = 900, Width = 900, style = "border: none" }).ControlSettings(settings)

        }
        else
        {
            @Html.MvcReportViewer(
        url,
        new { Height = 900, Width = 900, style = "border: none" }).ControlSettings(settings)

        }*/
    }*@


<div class="modal-footer">
    <button class="btn" data-dismiss="modal">Ok</button>
</div>

