<ul id="myTab" class="nav nav-tabs ik">
    <li>
        <a href="@Url.Content("~/Dashboard/MaterialInwardDashboards")" id="MaterialInward">
            Material Inward
        </a>
    </li>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <li>
        <a href="@Url.Content("~/Dashboard/MaterialOutwardDashboards")" id="MaterialOutward">
            Material Outward
        </a>
    </li>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <li>
        <a href="@Url.Content("~/Dashboard/GetRMAReceivedReturnedDashboards")" id="RMATransactions">
            RMA Transactions
        </a>
    </li>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <li>
        <a href="@Url.Content("~/Dashboard/RMAProductCategoryPriceandValue")" id="RMAProductCategoryPriceandValue">
            Products Category RMA Receipt Qty and Value
        </a>
    </li>

    &nbsp;&nbsp;&nbsp;&nbsp;
    <li>
        <a href="@Url.Content("~/Dashboard/RMAProductCategoryPriceandValueMonthWise")" id="RMAProductCategoryPriceandValueMonthWise">
           RMA Receipt Qty and Value
        </a>
    </li>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <li>
        <a href="@Url.Content("~/Dashboard/RMACreditNoteandValue")" id="RMACreditNote">
            RMA Credit Note
        </a>
    </li>
   

</ul>
