
<style>
    .tree, .tree-toggler {
    font-size:16px;
    }
</style>
<div class="container">   
    <div class="col-md-4">
        <div class="well well-lg">
            <ul class="nav nav-list">
                <li>
                    <label class="tree-toggler nav-header">Reports</label>
                    <ul class="nav nav-list tree">

                        <li><a href="@Url.Content("~/Reports/MaterialInwardProductQtyMonthWise")">Material Inward Product Qty</a></li>
                        <li><a href="@Url.Content("~/Reports/MaterialInwardProductCostMonthWise")">Material Inward Product Cost</a></li>
                        <li><a href="@Url.Content("~/Reports/MaterialInwardTotalInvoicesProductMonthWise")"> Material Inward Total Invoices</a></li>
                        <li><a href="@Url.Content("~/Reports/MaterialOutwardProductQtyMonthWise")"> Material Outward Product Qty</a></li>
                        <li><a href="@Url.Content("~/Reports/MaterialOutwardProductCostMonthWise")">Material Outward Product Cost</a></li>
                        <li><a href="@Url.Content("~/Reports/MaterialOutwardTotalInvoicesProductMonthWise")">Material Outward Total Invoices</a></li>
                        <li><a href="@Url.Content("~/Reports/RMATransactionReceived")">RMA Transaction Received</a></li>
                        <li><a href="@Url.Content("~/Reports/RMATransactionReturn")">RMA Transaction Return</a></li>
                        <li><a href="@Url.Content("~/Reports/ProductsCategoryRMAReceiptQty")"> Products Category RMA Receipt Qty</a></li>
                        <li><a href="@Url.Content("~/Reports/ProductsCategoryRMAReceiptValue")"> Products Category RMA Receipt Value</a></li>
                        <li><a href="@Url.Content("~/Reports/RMAReceiptQty")">RMA Receipt Quantity</a></li>
                        <li><a href="@Url.Content("~/Reports/RMAReceiptValue")">RMA Receipt Value</a></li>
                        <li><a href="@Url.Content("~/Reports/CreditNoteProductCategory")"> RMA CreditNote ProductCategory</a></li>
                        <li><a href="@Url.Content("~/Reports/CreditNoteValue")">RMA CreditNote Value</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>


