<ul id="myTab" class="nav nav-tabs ik">
    <li>
        <a href="@Url.Content("~/Reports/MaterialInwardProductQtyMonthWise")" id="MaterialInwardProductQty">
            Material Inward Product Qty
        </a>
    </li>
    &nbsp;&nbsp;
    <li>
        <a href="@Url.Content("~/Reports/MaterialInwardProductCostMonthWise")" id="MaterialInwardProductCost">
            Material Inward Product Cost
        </a>
    </li>
    &nbsp;&nbsp;
    <li>
        <a href="@Url.Content("~/Reports/MaterialInwardTotalInvoicesProductMonthWise")" id="MaterialInwardTotalInvoices">
            Material Inward Total Invoices
        </a>
    </li>
    &nbsp;&nbsp;
    <li>
        <a href="@Url.Content("~/Reports/MaterialOutwardProductQtyMonthWise")" id="MaterialOutwardProductQty">
            Material Outward Product Qty
        </a>
    </li>
    &nbsp;&nbsp;
    <li>
        <a href="@Url.Content("~/Reports/MaterialOutwardProductCostMonthWise")" id="MaterialOutwardProductCost">
            Material Outward Product Cost
        </a>
    </li>
    &nbsp;&nbsp;
    <li>
        <a href="@Url.Content("~/Reports/MaterialOutwardTotalInvoicesProductMonthWise")" id="MaterialOutwardTotalInvoices">
            Material Outward Total Invoices
        </a>
    </li>
    &nbsp;&nbsp;
    <li>
        <a href="@Url.Content("~/Reports/RMATransactionReceived")" id="RMATransactionReceived">
            RMA Transaction Received
        </a>
    </li>
    &nbsp;&nbsp;
    <li>
        <a href="@Url.Content("~/Reports/RMATransactionReturn")" id="RMATransactionReturn">
            RMA Transaction Return
        </a>
    </li>
    &nbsp;&nbsp;
    <li>
        <a href="@Url.Content("~/Reports/ProductsCategoryRMAReceiptQty")" id="ProductsCategoryRMAReceiptQty">
            Products Category RMA Receipt Qty
        </a>
    </li>
    &nbsp;&nbsp;
    <li>
        <a href="@Url.Content("~/Reports/ProductsCategoryRMAReceiptValue")" id="ProductsCategoryRMAReceiptValue">
            Products Category RMA Receipt Value
        </a>
    </li>
    &nbsp;&nbsp;
    <li>
        <a href="@Url.Content("~/Reports/RMAReceiptQty")" id="RMAReceiptQty">
            RMA Receipt Quantity
        </a>
    </li>
    &nbsp;&nbsp;
    <li>
        <a href="@Url.Content("~/Reports/RMAReceiptValue")" id="RMAReceiptValue">
            RMA Receipt Value
        </a>
    </li>
    &nbsp;&nbsp;
    <li>
        <a href="@Url.Content("~/Reports/CreditNoteProductCategory")" id="CreditNoteProductCategory">
            RMA CreditNote ProductCategory
        </a>
    </li>
    &nbsp;&nbsp;
    <li>
        <a href="@Url.Content("~/Reports/CreditNoteValue")" id="CreditNoteValue">
            RMA CreditNote Value
        </a>
    </li>
    &nbsp;&nbsp;

    @*<li>
            <a href="@Url.Content("~/Dashboard/RMAProductCategoryPriceandValue")" id="RMAProductCategoryPriceandValue">
                Products Category RMA Receipt Qty and Value
            </a>
        </li>

        &nbsp;&nbsp;&nbsp;&nbsp;
        <li>
            <a href="@Url.Content("~/Dashboard/RMAProductCategoryPriceandValueMonthWise")" id="RMAProductCategoryPriceandValueMonthWise">
                RMA Receipt Qty and Value
            </a>
        </li>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <li>
            <a href="@Url.Content("~/Dashboard/RMACreditNoteandValue")" id="RMACreditNote">
                RMA Credit Note
            </a>
        </li>*@


</ul>

