<ul id="myTab" class="nav nav-tabs ik">
    <li>
        <a href="@Url.Content("~/Reports/MaterialInwardProductQtyMonthWise")" id="MaterialInwardProductQty">
            Material Inward Product Qty
        </a>
    </li>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <li>
        <a href="@Url.Content("~/Reports/MaterialInwardProductCostMonthWise")" id="MaterialInwardProductCost">
            Material Inward Product Cost
        </a>
    </li>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <li>
        <a href="@Url.Content("~/Reports/MaterialInwardTotalInvoicesProductMonthWise")" id="MaterialInwardTotalInvoices">
            Material Inward Total Invoices
        </a>
    </li>
    &nbsp;&nbsp;&nbsp;&nbsp;
    @*<li>
        <a href="@Url.Content("~/Dashboard/RMAProductCategoryPriceandValue")" id="RMAProductCategoryPriceandValue">
            Products Category RMA Receipt Qty and Value
        </a>
    </li>

    &nbsp;&nbsp;&nbsp;&nbsp;
    <li>
        <a href="@Url.Content("~/Dashboard/RMAProductCategoryPriceandValueMonthWise")" id="RMAProductCategoryPriceandValueMonthWise">
            RMA Receipt Qty and Value
        </a>
    </li>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <li>
        <a href="@Url.Content("~/Dashboard/RMACreditNoteandValue")" id="RMACreditNote">
            RMA Credit Note
        </a>
    </li>*@


</ul>

