@model List<EZY.RMAS.Contract.Declarant>
@{
	/**/

	ViewBag.Title = "DeclarantList";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section seccss{
	<link href="@Url.Content("~/Css/dataTables.bootstrap.css")" rel="stylesheet" />
	<link href="@Url.Content("~/Css/dataTables.responsive.css")" rel="stylesheet" />
}

<section class="content">
	<div class="box box-dnex">
		<div class="box-header with-border">

			<div class="row">
				<section class="content-header">
					<ol class="breadcrumb">
						<li><a href='@Url.Content("~/Home/Index")'><i class="fa fa-dashboard"></i> Home</a></li>
						@*<li><a href='@Url.Content("~/Home/Index")'>Modules</a></li>*@
						<li><a href='@Url.Content("~/Declarant/Index")'> Declarant Data</a></li>
						<li class="active">Declarant List</li>
					</ol>
				</section>
			</div>
			<div class="box-tools pull-right">
				@*<button class="btn btn-box-tool" type="button" onclick="AddDeclarent()"><i class="fa fa-plus"></i>&nbsp;Add New Declarant</button>*@

                @Html.Button("<i class='fa fa-plus'></i>&nbsp;Add New Declarant", new
            {
                @class = "btn btn-box-tool",
                onclick = "AddDeclarent()"
            }, SECURABLE.TRANSACTION_ACTION_ADDCOO)




			</div>
		</div>
		<div class="box-body">
			<div class="row" style="margin-top:10px;">
				<div class="col-md-12">
					<table class="table table-striped" id="tblProducts">
						<thead>
							<tr>
								<th>Declarant Name</th>
								<th>Designation</th>
								<th>Status</th>
								<th>#Action</th>
							</tr>
						</thead>
						<tbody>
							@for (var i = 0; i < Model.Count; i++)
							{
								<tr>
									@*<td>@Model[i].ProductCode</td>*@
									<td><a href="#" onclick="DeclarantDetails('@Model[i].DeclarantName')">@Model[i].DeclarantName</a></td>
									<td>@Model[i].Designation</td>
									<td>
										@if (Model[i].IsActive)
										{
											<span class="badge bg-green">Active</span>
										}
										else
										{
											<span class="badge bg-red">Inactive</span>
										}
									</td>
									<td>
										@*<button class="btn btn-primary btn-sm" onclick="EditDeclarant('@Model[i].DeclarantName')"><i class="fa fa-pencil-square-o"></i>&nbsp;Edit</button>*@
										
									
                                        @Html.Button("<i class='fa fa-pencil-square-o'></i>&nbsp;Edit", new
                                   {
                                       @class = "btn btn-primary btn-sm",
                                       onclick = "EditDeclarant('" + Model[i].DeclarantName + "')"
                                   }, SECURABLE.TRANSACTION_ACTION_EDITCOO)
                                        <button class="btn btn-danger btn-sm" onclick="DeleteDeclarant('@Model[i].DeclarantName')"><i class="fa fa-trash-o"></i>&nbsp;Delete</button>
                                    </td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>

		</div>
		<div class="box-footer">
			<div class="row">
				<div class="col-md-12">
					<button class="btn btn-default btn-sm pull-right" type="button" onclick="location.href = '@Url.Content("~/Home/COO")'"><i class="fa fa-backward"></i>&nbsp;Back</button>
				</div>

			</div>
		</div>
	</div>
</section>
@using (Html.RmaBeginForm(Url.Content("~/Declarant/SaveDeclarant"), FormMethod.Post, new { id = "frmDeclarant", name = "frmDeclarant" },SECURABLE.TRANSACTION_ACTION_SAVECOO))
{
	<div id="DeclarantModal" class="modal fade" role="dialog">

	</div>
}


@section secscripts{
	<script src="@Url.Content("~/Scripts/jquery.dataTables.js")"></script>
	<script src="@Url.Content("~/Scripts/dataTables.bootstrap.js")"></script>
	<script type="text/javascript">

		function AddDeclarent() {
            $.ajax({
                url: '@Url.Content("~/Declarant/ADDDeclarant")',
                method: 'get',
                contentType: 'text/html',
				success: function (html) {

					$('#DeclarantModal').html(html);
					$('#DeclarantModal').modal('show');
                },
				error: function (err) {
					;
                }
            });
        }

		$('#frmDeclarant').validate({
            rules: {
				DeclarantName: {
                    required: true
                },
                Designation: {
                    required: true
                }
            }
        });

		function SaveDeclarant() {
			if ($('#frmDeclarant').valid()) {
				$('#frmDeclarant').submit();
				swal("Success", "Saved Successfully.", "error");
            }
		};

		 var success = '@TempData["DeclarantSaved"]';
            if (success) {
				swal("Success!", "Saved Successfully!", "success")
            }

		function EditDeclarant(declarantName) {			
            $.ajax({
				url: '@Url.Content("~/Declarant/ADDDeclarant?DeclarantName=")' + declarantName,
                method: 'get',
                contentType: 'text/html',
                success: function (html) {
					$('#DeclarantModal').html(html);
					$('#DeclarantModal').modal('show');
                },
				error: function (err) {

                }
            });
		}

		function DeleteDeclarant(declarantName) {
			confirm("Are you sure Delete Declarat?")
			{
				location.href = '@Url.Content("~/Declarant/DeleteDeclarant?declarantName=")' + declarantName;
			}
		}

		function DeclarantDetails(declarantName) {
			location.href = '@Url.Content("~/Declarant/GetDeclarantDetails?declarantName=")' + declarantName;
        }


        var isDefaultCol = false;
        var isDefaultDir = false;
        var obj = {};
		var oTable = $('#tblDeclarants').dataTable({
            "bStateSave": true,
            "sPaginationType": "full_numbers",
            "bServerSide": true,
            "bProcessing": true,
            "bSortClasses": false,
            "bDeferRender": true,
            "sAjaxSource": '@Url.Content("~/Declarant/GetDeclarants")',
            "bFilter": false,
            "aaSorting": [[0, "asc"]],
            "aoColumnDefs": [{
                bSortable: false,
                aTargets: [-1]
            }
            ],
            "fnServerData": function (sSource, aoData, fnCallback, oSettings) {
				var sortColArr = [ 'DeclarantName', 'Designation', 'Action'];
                var paramData = {};
                var sExt = "?";
                var sAnd = "";
                var r = 0;

                for (var key in aoData) {
                    paramData[aoData[key]['name']] = aoData[key]['value'];

                    if (r > 0) sAnd = "&";
                    if (aoData[key]['name'].trim() == "iDisplayLength") {
                        sExt += sAnd + "limit=" + aoData[key]['value']; r++
                        obj.limit = aoData[key]['value'];
                    }
                    if (aoData[key]['name'].trim() == "iDisplayStart") {
                        sExt += sAnd + "offset=" + aoData[key]['value']; r++
                        obj.offset = aoData[key]['value'];
                    }
                    if (aoData[key]['name'].trim() == "iSortCol_0") {
                        sExt += sAnd + "sort_col=" + aoData[key]['value']; r++
                        obj.sortColumn = sortColArr[aoData[key]['value']];
                    }
                    if (aoData[key]['name'].trim() == "sSortDir_0") {
                        sExt += sAnd + "sort=" + aoData[key]['value']; r++
                        obj.sortType = aoData[key]['value'].toUpperCase();
                    }
                    if (aoData[key]['name'].trim() == "sEcho") var sEcho = aoData[key]['value'];
                }

                oSettings.jqXHR = $.ajax({
                    "type": "POST",
                    "contentType": "application/json;charset=utf-8",
                    "accept": "application/json",
                    "dataType": "json",
                    "url": sSource,
                    cache: false,
                    "data": JSON.stringify(obj),
                    "success": function (result) {

                        var tempdset = {};
                        var dataSet = [];
                        for (var key in result['declarants']) {

                            var objinner = [];
                            //objinner.push(result['products'][key]['ProductCode']);
							objinner.push(result['declarants'][key]['DeclarantName']);
							objinner.push(result['declarants'][key]['Designation']);

                            var htmlAction = '';

                            //<text>htmlAction += '<button class="btn btn-primary btn-sm" onclick="EditDeclarant(\'' + result['products'][key]['ProductCode'] + '\',\'' + result['products'][key]['ModelNo'] + '\')"><i class="fa fa-pencil-square-o"></i>&nbsp;Edit</button>&nbsp;';</text>


                            objinner.push(htmlAction);
                            dataSet.push(objinner);
                        }

                        tempdset['sEcho'] = sEcho;
                        tempdset['iTotalRecords'] = result['totalRecords'];
                        tempdset['iTotalDisplayRecords'] = result['totalRecords'];
                        tempdset['aaData'] = dataSet;
                        fnCallback(tempdset);
                    }
                });
            }
        });
	</script>
}






