@model EZY.RMAS.Contract.Company
@{
    ViewBag.Title = "CompanyProfile";
}
<section class="content">
    <div class="row">
        <div class="col-md-3">
            @{ Html.RenderAction("GetCompanies", "Company"); }
        </div>
        <div class="col-md-9">
            @using (Html.RmaBeginForm(Url.Content("~/Company/SaveCompanyProfile"), FormMethod.Post, new { id = "frmCompanyProfile", name = "frmCompanyProfile" },SECURABLE.ADMINISTRATION_ACTION_COMPANYPROFILESAVE))
            {
                <div class="box box-default">
                    <div class="box-header with-border">
                        <div class="row">
                            <section class="content-header">
                                <ol class="breadcrumb">
                                    <li><a href='@Url.Content("~/Home/Index")'><i class="fa fa-dashboard"></i> Home</a></li>
                                   @*<li><a href='@Url.Content("~/Home/Index")'>Modules</a></li>*@
                                    <li><a href='@Url.Content("~/Home/Administration")'> Administration</a></li>
                                    <li class="active"><i class="fa fa-building"></i>&nbsp;Company Profile</li>
                                </ol>
                            </section>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row" style="margin-top: 10px">
                            @Html.HiddenFor(m => m.CompanyCode, new { @placeholder = "Company Code", @class = "form-control input-sm" })
                            <div class="col-md-2">
                                <label class="control-label pull-right">Company Name</label>
                            </div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.CompanyName, new { @placeholder = "Company Name", @class = "form-control input-sm" })
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-2">
                                <label class="control-label pull-right">Registration No.</label>
                            </div>
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.RegNo, new { @placeholder = "RegNo", @class = "form-control input-sm" })
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-2">
                                <label class="control-label pull-right">Address 1</label>
                            </div>
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.CompanyAddress.Address1, new { @placeholder = "Address1", @class = "form-control input-sm", @name = "CompanyAddress.Address1" })
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-2">
                                <label class="control-label pull-right">Address 2</label>
                            </div>
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.CompanyAddress.Address2, new { @placeholder = "Address2", @class = "form-control input-sm" })
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-2">
                                <label class="control-label pull-right">City</label>
                            </div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.CompanyAddress.CityName, new { @placeholder = "City Name", @class = "form-control input-sm" })
                            </div>
                            <div class="col-md-2">
                                <label class="control-label pull-right">State</label>
                            </div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.CompanyAddress.StateName, new { @placeholder = "State Name", @class = "form-control input-sm" })
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-2">
                                <label class="control-label pull-right">Zip Code</label>
                            </div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.CompanyAddress.ZipCode, new { @placeholder = "Zip Code", @class = "form-control input-sm numCss" })
                            </div>
                            <div class="col-md-2">
                                <label class="control-label pull-right">Country</label>
                            </div>
                            <div class="col-md-4">
                                @Html.DropDownListFor(m => m.CompanyAddress.CountryCode, Model.CountryList, "Select Country", new { @placeholder = "Country Code", @class = "form-control chosen-select input-sm" })
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-2">
                                <label class="control-label pull-right">Phone</label>
                            </div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.CompanyAddress.TelNo, new { @placeholder = "TelNo", @class = "form-control input-sm" })
                            </div>
                            <div class="col-md-2">
                                <label class="control-label pull-right">Fax</label>
                            </div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.CompanyAddress.FaxNo, new { @placeholder = "FaxNo", @class = "form-control input-sm" })
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-2">
                                <label class="control-label pull-right">Website</label>
                            </div>
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.CompanyAddress.WebSite, new { @placeholder = "WebSite", @class = "form-control input-sm" })
                                @Html.HiddenFor(m => m.CompanyAddress.AddressType)
                                @Html.HiddenFor(m => m.AddressID)
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    @if (!string.IsNullOrWhiteSpace(Model.CompanyCode))
                                    {
                                        <text>
                                            @*<button class="btn btn-primary btn-sm"><i class="fa fa-floppy-o" onclick="btnSaveClick()"></i>&nbsp;Update</button>*@

                                    @Html.Button("<i class='fa fa-floppy-o'></i>&nbsp;Update", new
                                {
                                    @class = "btn btn-primary btn-sm",
                                    onclick = "btnSaveClick()"
                                }, SECURABLE.ADMINISTRATION_ACTION_COMPANYPROFILESAVE)
                                        </text>
                                    }
                                    <button class="btn btn-default btn-sm" type="button" onclick="btnClear()"><i class="fa fa-eraser"></i>&nbsp;Clear</button>
                                    @Html.EncodedActionLink("<i class='fa fa-plus' aria-hidden='true'></i>&nbsp;New Branch",
                                            "BranchProfile", "Company",
                                            new { companyCode = Model.CompanyCode, branchCode = "NEW" }, new { @class = "btn btn-success btn-sm" })
                                    <button type="button" class="btn btn-default btn-sm pull-right" onclick="location.href = '@Url.Content("~/Home/Administration")'"><i class="fa fa-backward"></i>&nbsp;Back</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</section>


@section secscripts {
    <script type="text/javascript">
        $(function () {

            if ($('#CompanyCode').val() == '') {
                $('#btnNewBranch').hide();
            }
            else {
                $('#btnNewBranch').show();
            }
        });

        $('#frmCompanyProfile').validate({
                rules: {
                    CompanyCode: {
                        required: true
                    },
                    CompanyName: {
                        required: true
                    },
                    RegNo: {
                        required: true
                   },
                   'CompanyAddress.Address1': {
                      required: true
                   },
                   'CompanyAddress.CityName': {
                      required: true
                   },
                   'CompanyAddress.TelNo': {
                      required: true
                   },
                   'CompanyAddress.CountryCode': {
                      required: true
                   }
                }
            });

        function btnClear() {
            $('input[type=text], select').val('');
        }

        function NewBranch() {
            var companyCode = $('#CompanyCode').val();
            location.href = '@Url.Content("~/Company/BranchProfile")' + '?companyCode=' + companyCode + '&branchCode=NEW';
        }

        function btnSaveClick() {

            if ($('#frmCompanyProfile').valid()) {

                $('#frmCompanyProfile').submit();
            }
        }
    </script>
}

